# Please keep the entries in this file sorted with the following vi command:
# :3,$!LC_ALL=C sort -fu

*.exe
*.la
*.lo
*.o
*~
.deps/
.libs/
/aclocal.m4
/ar-lib
/autom4te.cache/
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/doc/Makefile
/doc/sg_scan.8
/include/Makefile
/install-sh
/lib/Makefile
/libtool
/ltmain.sh
/Makefile
/missing
/scripts/Makefile
/sg3_utils-*.tar.gz
/src/Makefile
/src/sginfo
/src/sgm_dd
/src/sgp_dd
/src/sg_bg_ctl
/src/sg_compare_and_write
/src/sg_copy_results
/src/sg_dd
/src/sg_decode_sense
/src/sg_emc_trespass
/src/sg_format
/src/sg_get_config
/src/sg_get_elem_status
/src/sg_get_lba_status
/src/sg_ident
/src/sg_inq
/src/sg_logs
/src/sg_luns
/src/sg_map
/src/sg_map26
/src/sg_modes
/src/sg_opcodes
/src/sg_persist
/src/sg_prevent
/src/sg_raw
/src/sg_rbuf
/src/sg_rdac
/src/sg_read
/src/sg_readcap
/src/sg_read_attr
/src/sg_read_block_limits
/src/sg_read_buffer
/src/sg_read_long
/src/sg_reassign
/src/sg_referrals
/src/sg_rem_rest_elem
/src/sg_rep_density
/src/sg_rep_pip
/src/sg_rep_zones
/src/sg_requests
/src/sg_reset
/src/sg_reset_wp
/src/sg_rmsn
/src/sg_rtpg
/src/sg_safte
/src/sg_sanitize
/src/sg_sat_identify
/src/sg_sat_phy_event
/src/sg_sat_read_gplog
/src/sg_sat_set_features
/src/sg_scan
/src/sg_seek
/src/sg_senddiag
/src/sg_ses
/src/sg_ses_microcode
/src/sg_start
/src/sg_stpg
/src/sg_stream_ctl
/src/sg_sync
/src/sg_test_rwbuf
/src/sg_timestamp
/src/sg_turs
/src/sg_unmap
/src/sg_verify
/src/sg_vpd
/src/sg_write_buffer
/src/sg_write_long
/src/sg_write_same
/src/sg_write_verify
/src/sg_write_x
/src/sg_wr_mode
/src/sg_xcopy
/src/sg_zone
/src/sg_z_act_query
/stamp-h1
Makefile.in
