*.o
*.c~
*.lo
*.la
aclocal.*
autom4te.cache/*
config.*
depcomp
install-sh
Makefile
Makefile.in
lib/.deps/*
src/.deps/*
lib/.libs/*
src/.libs/*
libtool
ltmain.sh
configure
stamp-h1
missing
src/sg_scan.c
doc/sg_scan.8
src/sg_copy_results
src/sg_dd
src/sg_decode_sense
src/sg_emc_trespass
src/sg_format
src/sg_get_config
src/sg_get_lba_status
src/sg_ident
src/sg_inq
src/sg_logs
src/sg_luns
src/sg_map
src/sg_map26
src/sg_modes
src/sg_opcodes
src/sg_persist
src/sg_prevent
src/sg_raw
src/sg_rbuf
src/sg_rdac
src/sg_read
src/sg_read_block_limits
src/sg_read_buffer
src/sg_read_long
src/sg_readcap
src/sg_reassign
src/sg_referrals
src/sg_requests
src/sg_reset
src/sg_rmsn
src/sg_rtpg
src/sg_safte
src/sg_sanitize
src/sg_sat_identify
src/sg_sat_phy_event
src/sg_sat_set_features
src/sg_scan
src/sg_senddiag
src/sg_ses
src/sg_start
src/sg_stpg
src/sg_sync
src/sg_test_rwbuf
src/sg_turs
src/sg_unmap
src/sg_verify
src/sg_vpd
src/sg_wr_mode
src/sg_write_buffer
src/sg_write_long
src/sg_write_same
src/sg_xcopy
src/sginfo
src/sgm_dd
src/sgp_dd
