Source: sg3-utils
Section: admin
Priority: optional
Maintainer: Eric Schwartz (Skif) <emschwar@debian.org>
Build-Depends: debhelper (>> 7), libtool, libcam-dev [kfreebsd-i386 kfreebsd-amd64]
Standards-Version: 3.8.2

Package: sg3-utils
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: sg-utils, cdwrite
Replaces: sg-utils
Description: utilities for devices using the SCSI command set.

Package: libsgutils2-2
Section: libs
Depends: ${shlibs:Depends}
Architecture: any
Conflicts: libsgutils2
Replaces: libsgutils2
Suggests: sg3-utils
Description: utilities for devices using the SCSI command set (shared libraries)

Package: libsgutils2-dev
Section: libdevel
Architecture: any
Depends: libsgutils2-2 (= ${binary:Version}), ${shlibs:Depends}, ${kfreebsd:Depends}
Conflicts: libsgutils1-dev
Suggests: sg3-utils
Description: utilities for devices using the SCSI command set (developer files)

